<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food ordering APP</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
{% load static %}


<body style="background-image: url('{{ STATIC_URL }}static/img/photoyu.jpg'); background-repeat: no-repeat; background-size: 100%;"> 
    <!-- Navbar -->
    <nav class="bg-green-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-xl font-bold">Food ordering APP</h1>
        </div>
        <div>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>
    </nav>
    <!--<img src="{% static 'img/downlodfood.jpg' %}">-->
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="float: right;">
        <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/bdf34db4-a14c-41ab-87e5-e33f02c437d9">
</iframe>
      </div>
    </div>



    
</body>
</html>